* {
 margin: 0;
 padding: 0;
 font-family: 'Outfit', sans-serif;
 box-sizing: border-box;
 scroll-behavior: smooth;
}

.top {
 text-decoration: none;
 color: #fff;
 font-weight: 900;
 font-size: 14px;
 background: rgb(75, 74, 74);
 padding: 13px 16px;
 text-align: center;
 align-items: center;
 border-radius: 100%;
 position: sticky;
 bottom: 30px;
 left: 95vw;
 margin-top: 200vh;
 transition: .2s;
 opacity: .5;
}

.top:hover {
 background: #858282;
}




::-webkit-scrollbar {
 width: 5px;
}
::-webkit-scrollbar-thumb {
 background: rgba(194, 194, 194, 0.985);
}

::-webkit-scrollbar-thumb:hover {
 background: rgb(130, 130, 130);
}

::-webkit-scrollbar-track {
 background: rgba(255, 255, 255, 0.1);
}

body {
 background: #161A1B;
}

.circle-area {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 overflow: hidden;
 z-index: -2;
}

.circle-area li {
 position: absolute;
 display: block;
 list-style: none;
 border-radius: 35%;
 width: 25px;
 height: 25px;
 background: rgba(260, 260, 260, .1);
 animation: animate 20s linear infinite;
 bottom: -150px;
}

.circle-area li:nth-child(1) {
 left: 86%;
 width: 80px;
 height: 80px;
 animation-delay: 0s;
}

.circle-area li:nth-child(2) {
 left: 16%;
 width: 20px;
 height: 20px;
 animation-delay: 2.5s;
 animation-duration: 10s;
}

.circle-area li:nth-child(3) {
 left: 65%;
 width: 70px;
 height: 70px;
 animation-delay: 2.5s;
}

.circle-area li:nth-child(4) {
 left: 35%;
 width: 120px;
 height: 120px;
 animation-delay: 3s;
}

.circle-area li:nth-child(5) {
 left: 78%;
 width: 150px;
 height: 150px;
 animation-delay: 0s;
}

.circle-area li:nth-child(6) {
 left: 35%;
 width: 120px;
 height: 120px;
 animation-delay: 3s;
}

@keyframes animate {
 0% {
  transform: translateY(0) rotate(0deg);
  opacity: 1;
 }
 100% {
  transform: translateY(-800px) rotate(360deg);
  opacity: 0;
 }
}

.navbar {
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin: 2rem 8rem;
}

.logo {
 color: #fff;
 font-size: 27px;
 font-weight: 900;
 text-decoration: none;
 transition: .3s
}

.logo:hover {
 color: rgb(206, 204, 204);
 letter-spacing: 5px;
}

.navlinks {
 color: #fff;
}

.navlinks ul {
 display: flex;
 list-style: none;
}

.navlinks ul li {
 margin-left: 30px;
 font-size: 14px;
 font-weight: 700;
 letter-spacing: 1px;
}

.navlinks a {
 text-decoration: none;
 color: #fff;
 transition: .3s
}

.navlinks ul li a:hover {
 color: rgb(206, 204, 204)
}

/* HERO!!! */

main {
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 margin-top: 6rem;
}

main img {
 height: 20rem;
 border-radius: 50%;
 box-shadow: 0 0 70px rgba(260, 260, 260, .3);
}

main h1 {
 color: #fff;
 font-size: 60px;
}

main a {
 text-decoration: none;
 margin-right: 10px;
 letter-spacing: 1px;
}

.my-proj {
 color: #353333;
 background-color: #47C279;
 padding: 14px 25px;
 border-radius: 25px;
 font-size: 15px;
 font-weight: 900;
 transition: .3s
}

.my-proj:hover {
 background:rgb(23, 240, 110)
}

.contact {
 color: #fff;
 background-color: transparent;
 padding: 15px 42px;
 border-radius: 25px;
 font-size: 15px;
 font-weight: 900;
 border: solid 1px rgb(255, 255, 255, .3);
 transition: .2s;
}

.contact:hover {
 background-color: rgb(197, 195, 195);
 color: #353333
}

.hero-right {
 display: flex;
 flex-direction: column;
 align-items: center;
 color: #fff;
 font-weight: 400;
 font-size: 14px;
}

.caption {
 margin-top: 30px;
}


/* GREETINGS!!!  */

.greetings h1 {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 15rem;
 padding: 4rem;
 background: #CBC8C8;
 font-size: 45px;
 font-weight: lighter;
}

/* SKILLS!!! */

.skills {
 color: white;
 font-weight: 400;
 padding-bottom: 10rem;
 padding-top: 6rem
}



.skills h1 {
 display: flex;
 justify-content: center;
 margin-bottom: 4rem;
 font-size: 35px;
}

.html-and-css {
 display: flex;
 justify-content: center;
 gap: 5rem;
}

.html, .css {
 display: flex;
 flex-direction: column;
 background-color: #413C3C;
 padding: 30px;
 border-radius: 30px;
 width: 20%;
 align-items: center;
 text-align: center;
 font-size: 16px;
 font-weight: 300;
 letter-spacing: 1px;
}

.html-and-css img {
 width: 6.6rem;
}

.css span {
 margin-top: 1.7rem;
}

.html-and-css span {
 width: 90%;
}

.figma {
 margin-top: 10rem;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.figma img {
 width: 6rem;
}

.figma div{
 display: flex;
 flex-direction: column;
 justify-content: center;
 background-color: #413C3C;
 padding: 30px;
 border-radius: 30px;
 width: 20%;
 height: auto;
 align-items: center;
 text-align: center;
 font-size: 16px;
 font-weight: 300;
 letter-spacing: 1px;
}

.figma span {
 margin-top: 1.7rem;
 width: 90%
}

/* FIGMA LINK!!! */

.figma-link {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 20rem;
 margin-bottom: 5rem;
 color: #fff;
 letter-spacing: 2px;
}

.figma-link img {
 width: 4rem;
 border: none;
 box-shadow: 0 0 10px rgb(255, 255, 255, 0.2);
 border-radius: 15px;
}

.figma-link img:hover {
 border: 1px solid #413C3C
}

.figma-link span {
 margin-top: 1rem;
}


/* FOOTER!!! */

footer {
 display: flex;
 justify-content: flex-start;
 align-items: center;
 background-color: #D9D9D9;
}

footer span {
 color: rgb(0, 0, 0, .5);
 font-size: 14px;
 padding: 2px 15px;
 letter-spacing: 3px;
 font-weight: 900;
}


/* MY PROJECTS PAGE */



.column {
 display: grid;
 align-items: center;
 color: #fff;
 gap: 5rem;
 grid-template-columns: 1fr 1fr;
}

.firstportfolio-text {
 font-size: 30px;
 font-weight: 200;
}

.firstportfolio img {
 width: 27rem;
 border-radius: 10px;
}

.facebook img {
 width: 27rem;
 border-radius: 10px;
}

.facebook-mobile img {
 width: 17rem;
 border-radius: 10px;
}

.facebook-text {
 font-size: 30px;
 font-weight: 200;
}

.second-webpage img {
 width: 27rem;
 border-radius: 10px;
}

.second-webpage-text {
 font-size: 30px; 
 font-weight: 200;
}

.seaitt img {
 width: 29rem;
}

.seaitt-text {
 font-size: 30px;
 font-weight: 300;
}

.extra img {
 width: 27rem;
 border-radius: 10px;
}

.extra {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 5rem;
 justify-content: center;
}

.js-txt {
 margin: 40px 0px;
 font-size: 30px;
 text-align: center;
 font-weight: 200;
 color: #fff;
}

.extra span {
 font-size: 40px;
 margin-bottom: 30px;
 color: #fff;
 font-weight: 600;
}

.container {
 padding: 64px 250px;
}

/* CONTACTS!!! */

.contact-container {
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
}

.contact-container h1 {
 margin: 70px 0 10px;
 color: #fff;

}

form {
 background: rgb(83, 83, 83, .5);
 display: flex;
 flex-direction: column;
 padding: 50px;
 width: 40%;
 max-width: 100%;
 border-radius: 10px;
}

form input, form textarea {
 border: none;
 margin: 10px 0;
 padding: 15px 10px;
 border-radius: 10px;
 background-color: #D9D9D9;
 font-size: 16px;
 resize: none;
 transition: .1s;
}

form input:focus, form textarea:focus {
 outline: 4px solid #575555
}

form ::placeholder {
 color: rgb(0, 0, 0, .6);
 font-size: 13px;
}

form button {
 background-color:rgb(94, 241, 152);
 border-radius: 10px;
 padding: 10px;
 margin: 10px auto 0;
 cursor: pointer;
 width: 150px;
 font-weight: 600;
 font-size: 16px;
 transition: .2s;
}

form button:hover {
 background: rgb(20, 233, 105);
}



@media (max-width: 700px) {

 /* HOME PAGE */
  .skills h1 {
   font-size: 30px;
  }
  .html, .css {
   font-size: 13px;
   width: 90%;
  }
  
  .html-and-css {
   flex-direction: column;
   justify-content: center;
   align-items: center;
  }

  .html img, .css img {
   width: 40px;
  }

  .figma img {
   width: 55px;
  }

  .figma div {
   width: 90%;
  }
  
  .figma span {
   font-size: 13px;
  }

  .figma h1 {
   font-size: 20px;
   align-items: center;
   text-align: center;
   margin: 0 20px 20px; 
  }

  .figma-link span {
   font-size: 12px;
  }
  
  main img {
   height: 8rem;
  }
  main {
   display: flex;
   flex-direction: column-reverse;
   margin-top: 4rem;
 }

 .hero a {
  display: block;
  margin: 1rem auto;
  text-align: center;
 }

 .hero h1 {
  margin-bottom: .1rem;
 }

  main h1 {
   font-size: 30px;
   text-align: center;
   margin-top: 20px;
  }

  .caption {
   font-size: 12px;
  }
  .navbar {
   display: flex;
   align-items: center;
   margin: 2rem 2rem;
  }

  .navbar ul {
   display: flex;
  }

  .navbar ul li {
   font-size: 11px;
  }

  .navbar ul li:first-of-type {
   display: none;
  }

  .top {
   left: 100vw;
  }

  .my-proj {
   font-size: 13px;
  }

  .contact {
   padding: 15px 10px;
   font-size: 13px;
  }

  footer span {
   font-size: 10px;
  }

  .top {
   left: 85vw;
  }

  .logo {
   font-size: 20px;
  }

  /* CONTACT PAGE */

    .contact-container {
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
    }
  
    .contact-container h1 {
     margin: 70px 0 10px;
     color: #fff;
     font-size: 30px;
    }
  
    form {
     background: rgb(83, 83, 83, .5);
     display: flex;
     flex-direction: column;
     padding: 35px;
     width: 90%;
     max-width: 100%;
     border-radius: 10px;
    }
  
    form button {
     border-radius: 5px;
     width: 100%;
     font-weight: 600;
     font-size: 13px;
    }
  
   form input,
   form textarea {
    margin: 7px 0;
    padding: 10px 5px;
    border-radius: 5px;
    background-color: #D9D9D9;
    font-size: 14px;
    resize: none;
   }

   form ::placeholder {
    font-size: 11px;
   }
   

   /* CONTACTS PAGE */

   .column {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
   }

   .column img {
    width: 23rem;
    margin-bottom: 1rem;
   }

   .column span {
    display: none;
   }

   .js-txt {
    display: none;
   }

   .extra img {
    width: 24rem;
   }
   
   .extra span {
    display: none;
   }

  .container {
   padding: 40px 50px;
   display: grid;
   justify-content: center;
   align-items: center;
   text-align: center;
   }
}